In [1]:
# Import Packages

# Pandas for rading CSV files
import pandas as pd 

# Numpy for arrays, array is a much more efficient data structure than builtin python list for our purpose
import numpy as np 


# mlxtend is a machine learing library that contations alot of ml tools
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
# Import DataSets
order = pd.read_csv("../data/orders.csv")
product = pd.read_csv("../data/products.csv")
prior = pd.read_csv("../data/order_products__prior.csv")
train = pd.read_csv("../data/order_products__train.csv")

# Now we are merging prior and train datasets to get the complete order dataset.
train = train.append(prior,ignore_index = True)

train['reordered'] = 1

In [3]:
productCount = train.groupby("product_id",as_index = False)["order_id"].count()

In [4]:
# Top 100 most frequently purchased products
freq_product = 100

productCount = productCount.sort_values("order_id",ascending = False)
topProduct = productCount.iloc[0:freq_product,:]
topProduct = topProduct.merge(product,on = "product_id")
productId= topProduct.loc[:,["product_id"]]



# Here order_id is the count, so we need to sort the data frame with repect to order_id

df = train[0:0]
for i in range(0,99):
    pId = productId.iloc[i]['product_id'] 
    stDf = train[train.product_id == pId ]
    df = df.append(stDf,ignore_index = False)

In [5]:
# Here we are defining the basket to analysis
basket = df.groupby(['order_id', 'product_id'])['reordered'].sum().unstack().reset_index().fillna(0).set_index('order_id')

In [6]:
# This function is used to convert database into a boolean database as seen below

def encode(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [7]:
# Here we encoding the basket df with our encode funtion
basket_sets = basket.applymap(encode)

In [17]:
# This is the size of the basket_sets
basket_sets.size

241667217

In [8]:
# Get frequent itemsets using apriori
frequent_itemsets = apriori(basket_sets, min_support=0.001, use_colnames=True, low_memory = True)

In [9]:
# Print frequnt items sets
frequent_itemsets

       support                      itemsets
0     0.015279                         (196)
1     0.016088                        (3957)
2     0.015144                        (4210)
3     0.031514                        (4605)
4     0.015439                        (4799)
...        ...                           ...
2518  0.001043         (40706, 47626, 47766)
2519  0.001013         (47626, 47766, 45007)
2520  0.001462         (47626, 49683, 47766)
2521  0.001439  (13176, 47209, 21137, 21903)
2522  0.001662  (13176, 47209, 21137, 27966)

[2523 rows x 2 columns]

The final step is to generate the rules with their corresponding support, confidence and lift:

In [10]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Print rules
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5876),(3957),0.037381,0.016088,0.001157,0.030948,1.923701,0.000555,1.015335
1,(3957),(5876),0.016088,0.037381,0.001157,0.071911,1.923701,0.000555,1.037205
2,(13176),(3957),0.161785,0.016088,0.003762,0.023252,1.445357,0.001159,1.007335
3,(3957),(13176),0.016088,0.161785,0.003762,0.233837,1.445357,0.001159,1.094043
4,(21137),(3957),0.112891,0.016088,0.002259,0.020013,1.243979,0.000443,1.004005
...,...,...,...,...,...,...,...,...,...
6417,"(21137, 27966)","(13176, 47209)",0.014556,0.026530,0.001662,0.114147,4.302641,0.001275,1.098908
6418,(13176),"(47209, 21137, 27966)",0.161785,0.003389,0.001662,0.010270,3.030382,0.001113,1.006953
6419,(47209),"(13176, 21137, 27966)",0.090483,0.005011,0.001662,0.018363,3.664351,0.001208,1.013602
6420,(21137),"(13176, 47209, 27966)",0.112891,0.004891,0.001662,0.014718,3.009076,0.001109,1.009974
6421,(27966),"(13176, 47209, 21137)",0.058418,0.006463,0.001662,0.028443,4.401036,0.001284,1.022623

In [16]:
# We can filter the dataframe using standard pandas code
rules[ (rules['lift'] >= 2) & (rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3319,"(4605, 16797)",(24852),0.002171,0.201259,0.001021,0.470377,2.337169,0.000584,1.508131
3403,"(4920, 28204)",(24852),0.002436,0.201259,0.001143,0.469055,2.330598,0.000652,1.504375
3408,"(4920, 45066)",(24852),0.002709,0.201259,0.001174,0.433238,2.152632,0.000628,1.409304
3421,"(4920, 47766)",(24852),0.003384,0.201259,0.001409,0.416414,2.069043,0.000728,1.368678
3426,"(4920, 49683)",(24852),0.002387,0.201259,0.001051,0.440268,2.187563,0.000570,1.427005
3446,"(5876, 8277)",(13176),0.002505,0.161785,0.001007,0.402060,2.485155,0.000602,1.401839
3482,"(5876, 27966)",(13176),0.004337,0.161785,0.001762,0.406309,2.511417,0.001061,1.411871
3572,"(21137, 8174)",(13176),0.003079,0.161785,0.001345,0.436876,2.700356,0.000847,1.488510
3583,"(27966, 8174)",(13176),0.002255,0.161785,0.001119,0.496094,3.066386,0.000754,1.663437
3590,"(47209, 8174)",(13176),0.003491,0.161785,0.001628,0.466385,2.882751,0.001064,1.570824
3614,"(8277, 27966)",(13176),0.004447,0.161785,0.001808,0.406541,2.512850,0.001088,1.412423
3620,"(47209, 8277)",(13176),0.006522,0.161785,0.002798,0.429020,2.651796,0.001743,1.468029
3679,"(8424, 47766)",(24852),0.003468,0.201259,0.001537,0.443303,2.202643,0.000839,1.434784
3806,"(47209, 16759)",(13176),0.002646,0.161785,0.001132,0.427930,2.645058,0.000704,1.465232
3852,"(19057, 22935)",(13176),0.002632,0.161785,0.001055,0.400996,2.478579,0.000630,1.399349
3858,"(19057, 27966)",(13176),0.003660,0.161785,0.001650,0.450811,2.786489,0.001058,1.526279
3864,"(19057, 30391)",(13176),0.002650,0.161785,0.001102,0.415611,2.568910,0.000673,1.434343
3870,"(19057, 47209)",(13176),0.005673,0.161785,0.002476,0.436421,2.697544,0.001558,1.487309
4284,"(22825, 27966)",(13176),0.002929,0.161785,0.001262,0.430709,2.662235,0.000788,1.472384
4290,"(47209, 22825)",(13176),0.003950,0.161785,0.001778,0.450218,2.782820,0.001139,1.524631
4452,"(27966, 30391)",(13176),0.003762,0.161785,0.001534,0.407819,2.520749,0.000926,1.415471
4475,"(39928, 27966)",(13176),0.003123,0.161785,0.001306,0.418153,2.584627,0.000801,1.440612
4488,"(27966, 41950)",(13176),0.002478,0.161785,0.001009,0.406942,2.515331,0.000608,1.413379
4494,"(27966, 44359)",(13176),0.002686,0.161785,0.001082,0.402776,2.489577,0.000647,1.403518
4506,"(47209, 27966)",(13176),0.010984,0.161785,0.004891,0.445323,2.752565,0.003114,1.511177
4560,"(47209, 35951)",(13176),0.003818,0.161785,0.001528,0.400322,2.474411,0.000911,1.397775
4566,"(47209, 37646)",(13176),0.004976,0.161785,0.002000,0.402025,2.484940,0.001195,1.401757
4582,"(39928, 47209)",(13176),0.004016,0.161785,0.001764,0.439208,2.714771,0.001114,1.494700
4682,"(28204, 16797)",(24852),0.003187,0.201259,0.001562,0.490231,2.435818,0.000921,1.566869
4693,"(45066, 16797)",(24852),0.003243,0.201259,0.001590,0.490399,2.436652,0.000938,1.567385
4703,"(47626, 16797)",(24852),0.004942,0.201259,0.002093,0.423574,2.104618,0.001099,1.385678
4710,"(16797, 47766)",(24852),0.005457,0.201259,0.002276,0.417161,2.072752,0.001178,1.370431
4715,"(49683, 16797)",(24852),0.003735,0.201259,0.001662,0.444834,2.210254,0.000910,1.438743
4785,"(28842, 20114)",(26209),0.002472,0.060080,0.001042,0.421611,7.017504,0.000894,1.625065
4792,"(20114, 31717)",(26209),0.002523,0.060080,0.001073,0.425463,7.081618,0.000922,1.635960
4798,"(20114, 47626)",(26209),0.002734,0.060080,0.001127,0.412108,6.859342,0.000962,1.598799
5150,"(21137, 49683)",(24852),0.005023,0.201259,0.002062,0.410570,2.040004,0.001051,1.355107
6049,"(49683, 27845)",(24852),0.002620,0.201259,0.001103,0.421044,2.092048,0.000576,1.379623
6067,"(47626, 28204)",(24852),0.003530,0.201259,0.001505,0.426433,2.118823,0.000795,1.392585
6073,"(28204, 47766)",(24852),0.003991,0.201259,0.001811,0.453911,2.255352,0.001008,1.462656
6079,"(49683, 28204)",(24852),0.002984,0.201259,0.001381,0.462859,2.299811,0.000780,1.487021
6126,"(34969, 49683)",(24852),0.002818,0.201259,0.001135,0.402675,2.000775,0.000568,1.337195
6173,"(43961, 47766)",(24852),0.002869,0.201259,0.001159,0.403769,2.006213,0.000581,1.339650
6190,"(45066, 47626)",(24852),0.004108,0.201259,0.001679,0.408697,2.030695,0.000852,1.350813
6197,"(45066, 47766)",(24852),0.004756,0.201259,0.002065,0.434318,2.158002,0.001108,1.411996
6202,"(45066, 49683)",(24852),0.002723,0.201259,0.001225,0.449759,2.234724,0.000677,1.451620
6251,"(49683, 47766)",(24852),0.006543,0.201259,0.002769,0.423214,2.102829,0.001452,1.384813
6293,"(28842, 47626)",(26209),0.002886,0.060080,0.001159,0.401561,6.683790,0.000986,1.570621
6300,"(28842, 47766)",(26209),0.003199,0.060080,0.001286,0.402152,6.693615,0.001094,1.572171
6312,"(47626, 31717)",(26209),0.003462,0.060080,0.001418,0.409586,6.817353,0.001210,1.591967
6397,"(47209, 21137, 21903)",(13176),0.003469,0.161785,0.001439,0.414738,2.563516,0.000877,1.432205
6411,"(47209, 21137, 27966)",(13176),0.003389,0.161785,0.001662,0.490270,3.030382,0.001113,1.644428